<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <style>
      body {
        font-family: sans-serif;
        text-align: center;
        padding: 100px;
        background-color: #9c9797;
      }
      h1 {
        font-size: 60px;
        color: #e74c3c;
      }
      p {
        font-size: 20px;
      }
      a {
        text-decoration: none;
        color: #10527d;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>404</h1>
    <p>Oops! The page you are looking for doesn't exist.</p>
    <a href="/products">Go back to Products</a>
  </body>
</html>
