<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="./products.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Inventory App</h2>
        <nav>
          <a href="#">Products</a>
        </nav>
      </header>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Atomic Habits</td>
            <td>A supremely practical and useful book.</td>
            <td>300</td>
            <td>
              <img
                src="https://m.media-amazon.com/images/I/91bYsX41DVL.jpg"
                alt="Atomic Habits"
              />
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ikigai</td>
            <td>The Japanese secret to a long and happy life</td>
            <td>340</td>
            <td>
              <img
                src="https://m.media-amazon.com/images/I/71tbalAHYCL.jpg"
                alt="Ikigai"
              />
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Deep Work</td>
            <td>RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD</td>
            <td>280</td>
            <td>
              <img
                src="https://m.media-amazon.com/images/I/31PBdo581fL._SX317_BO1,204,203,200%20_.jpg"
                alt="Deep Work"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
